# =========================
# General
# =========================
HTH_URL='https://dam.example.com'
HTH_IS_SSL='1'
HTH_DEFAULT_COMPANY='dam'
HTH_BACKUPS='0'
HTH_SECRET_KEY_BASE=''
HTH_SITE_PEPPER=''
HTH_TIMEZONE='Europe/London'
LC_ALL='en_US.UTF-8'

HTH_PATH='/opt/hth'
HTH_SHARED_PATH='/var/opt/hth/shared'
HTH_COMPANIES='/var/opt/hth/shared/companies'
HTH_AUTH_METHOD='helix'
HTH_SEARCH_ENGINE='p4search'
HTH_IS_DOCKER='1'
RAILS_ENV='production'
RACK_ENV='production'

HTH_PASSWORD_VALIDATION_RANGE='8..100'
HTH_PASSWORD_VALIDATION_FORMAT='/(?=.*[[:upper:]])(?=.*[[:lower:]])(?=.*[[:digit:]]).*/'
HTH_PASSWORD_VALIDATION_ENTROPY='-1'

HTH_FAILED_LOGIN_INTERVAL=2
HTH_FAILED_LOGIN_PERIOD=60
HTH_FAILED_LOGIN_LIMIT=6

HTH_BACKEND_BACKLOG_SOCKET=64
HTH_BACKEND_WORKER_TIMEOUT=30
HTH_BACKEND_WORKER_PROCESSES=2

HTH_WORKERS_HOOKS_QUEUE_SIZE=2
HTH_WORKERS_EVENTS_QUEUE_SIZE=2
HTH_WORKERS_MERGE_QUEUE_SIZE=1
HTH_WORKERS_COMPANY_DISK_USAGE_CALCULATOR_QUEUE_SIZE=1
HTH_WORKERS_WEBHOOKS_QUEUE_SIZE=2
HTH_JIRA_WEBHOOKS_QUEUE_DELAY='0.1'

HTH_MULTIPART_FILE_LIMIT=128
HTH_MULTIPART_TOTAL_PART_LIMIT=4096
HTH_TAG_FILES_LIMIT=10000

HTH_PREVIEW_2D_MAX_BYTES=50000000
HTH_PREVIEW_3D_MAX_BYTES=100000000
HTH_PREVIEW_AUDIO_MAX_BYTES=50000000
HTH_PREVIEW_VIDEO_MAX_BYTES=50000000

HTH_COMMAND_TIMEOUT=60

# =========================
# P4 Server
# =========================
HTH_HELIX_P4PORT='perforce:1666'
HTH_HELIX_FINGERPRINT=''
HTH_HELIX_USER='admin'
HTH_HELIX_PASSWORD='InsecurePassword'
HTH_HELIX_CHARSET='utf8'
HTH_HELIX_TIMEOUT='50'
HTH_HELIX_TRUST_FILE='/var/opt/hth/shared/.p4trust'

HTH_HELIX_HAS_STATUS='disabled'
HTH_HELIX_HAS_TIMEOUT='60'

HTH_HELIX_SYNC_ENABLED='0'
HTH_HELIX_SYNC_INTERVAL='*/10 * * * *'

HTH_HELIX_USERS_INCLUDE_REGEX=''
HTH_HELIX_USERS_FROM_GROUPS_INCLUDE_REGEX=''
HTH_HELIX_USERS_EXCLUDE_REGEX=''
HTH_HELIX_USERS_FROM_GROUPS_EXCLUDE_REGEX=''
HTH_HELIX_GROUPS_INCLUDE_REGEX=''
HTH_HELIX_GROUPS_EXCLUDE_REGEX=''

# =========================
# P4Search / Elasticsearch
# =========================
HTH_P4SEARCH_SSL_VERIFY='0'
HTH_P4SEARCH_TOKEN=''
HTH_P4SEARCH_ES_SSL_VERIFY='0'
HTH_P4SEARCH_ES_PASSWORD='InsecureElasticPassword'
HTH_P4SEARCH_ES_HOSTS="[{ \"host\": \"elasticsearch\", \"port\": 9200, \"user\": \"elastic\", \"password\": \"$HTH_P4SEARCH_ES_PASSWORD\" }]"
HTH_P4SEARCH_ES_INDEX='p4search'
HTH_P4SEARCH_ES_TIMEOUT=55

# =========================
# MongoDB
# =========================
HTH_DB_NAME='dam_production'
HTH_DB_USERNAME='dam'
HTH_DB_PASSWORD='InsecureMongoPassword'
HTH_DB_URI="mongodb://${HTH_DB_USERNAME}:${HTH_DB_PASSWORD}@mongo:27017/${HTH_DB_NAME}?connectTimeoutMS=10000"
HTH_DB_POOL_SIZE=10

# =========================
# Redis
# =========================
HTH_REDIS_HOST='redis'
HTH_REDIS_PORT='6379'
HTH_REDIS_PASSWORD='InsecureRedisPassword'
HTH_REDIS_TIMEOUT='1.0'
HTH_REDIS_RECONNECT_ATTEMPTS='10'

# =========================
# Mailing
# =========================
HTH_MAIL_DELIVERY_METHOD='smtp'
HTH_SMTP_ADDRESS='mailhog'
HTH_SMTP_PORT='1025'
HTH_SMTP_TLS='0'
HTH_SMTP_AUTHENTICATION='plain'
HTH_SMTP_USERNAME='default'
HTH_SMTP_PASSWORD=''

HTH_EMAIL='admin@example.com'
HTH_SUPPORT_EMAIL='admin@example.com'
HTH_REGISTRATIONS_EMAIL='admin@example.com'
HTH_NOTIFICATIONS_EMAIL='admin@example.com'
HTH_BACKUPS_EMAIL='admin@example.com'

HTH_LICENSE_EXPIRE_NOTIFY='30,14,7,3'

# =========================
# Streamer
# =========================
HTH_STREAMER_URL='http://streamer:5000'
HTH_STREAMER_MAX_CHUNK_SIZE=20000000

# =========================
# Websockets
# =========================
HTH_MOONSHINE_RPC_HOST='0.0.0.0:5003'
HTH_MOONSHINE_REDIS_CHANNEL='__moonshine__'
HTH_MOONSHINE_LOG_LEVEL='error'

ANYCABLE_RPC_HOST='moonshine:5003'
ANYCABLE_HOST='0.0.0.0'
ANYCABLE_PORT='5004'
ANYCABLE_REDIS_URL="redis://:${HTH_REDIS_PASSWORD}@redis:6379"
ANYCABLE_REDIS_CHANNEL='__moonshine__'
ANYCABLE_DEBUG='false'
ANYCABLE_PATH='/websocket'
ANYCABLE_DISABLE_TELEMETRY='true'
ANYCABLE_BROADCAST_ADAPTER='redis'

# =========================
# Initial Setup
# =========================
HTH_INIT_COMPANY_NAME='dam'
HTH_INIT_USERNAME='admin'
HTH_INIT_PASSWORD=$HTH_HELIX_PASSWORD
HTH_INIT_BOTNAME='p4-dam-bot'

MONGO_INITDB_ROOT_USERNAME='admin'
MONGO_INITDB_ROOT_PASSWORD='InsecureMongoAdminPassword'

ELASTIC_PASSWORD=$HTH_P4SEARCH_ES_PASSWORD
